{% load static %}
{% load my_custom_tags %}
<!DOCTYPE html>
<html>
<head>    
  <title> {{title}} </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">        
</head>
<body>

<div class="wrapper">
  <div class="page">
    <div class="header">
      <div class="header_text">{{heading}}</div>
    </div>

    <ul class="mainmenu">
      {% block mainmenu %}
          {% for m in menu %}
            {% if not forloop.last %}
              <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
            {% else %}
              <li class="last"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
            {% endif %}
          {% endfor %}
      {% endblock mainmenu %}
    </ul>

      <div class="content">   
      
      {% block content %}
      {% endblock %}

      </div>
          <nav class="list-pages">
            <ul>
              {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                  <li class="page-num page-num-selected">{{ p }}</li>
                {% else %}
                  <li class="page-num">
                    <a href="?page={{ p }}">{{ p }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>  
          </nav>
      </div>
  <div class="footer">
    <p>© {{ 2024 }} Copyright <span style="color:rgb(255, 196, 0)">Wish</span>list</p>

  </div>
</div>
</body>
</html>