{% extends 'base.html' %}
{% load my_custom_tags %}

{% block content %}
 <!-- get_wishes as wishes  -->


<div class="index_user">
    {% for user in users %}
        <div class="user_card">
          {% if user.photo %}
            <div class="user_card__image-wrapper">
              <img class="index_img" src="{{user.photo.url}}">
            </div>
          {% else %}
            <div class="user_card__image-wrapper">
              <img class="index_img" src="/media/users/default.png/">
            </div>
          {% endif %}
            <div class="index_title">
              <a class="index_title_btn" href="{% url 'users:all_wish' user.pk %}"></a>
              <p>{{user.first_name}} {{user.last_name}}</p>
            </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}