{% extends 'base.html' %}
{% load my_custom_tags %}

{% block content %}
 <!-- get_wishes as wishes  -->


<div class="index_user">
    {% for w in wishes %}
        <div class="user_card">
          {% if w.image %}
            <div class="user_card__image-wrapper">
              <a class="index_title_btn" href="{% url 'wishlist:details_wish' w.pk %}">
              <img class="index_img" src="{{w.image.url}}"></a>
            </div>
          {% else %}
            <div class="user_card__image-wrapper">
              <a class="index_title_btn" href="{% url 'wishlist:details_wish' w.pk %}">
              <img class="index_img" src="/static/img/image_not_image.png/"></a>
            </div>
          {% endif %}
            <div class="index_title">
              <a class="index_title_btn" href="{% url 'wishlist:details_wish' w.pk %}">{{w.title}}</a>
            </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}